.title {
  padding: 0 16px;
}
.photos {
  text-align: center;
}
.inner-photos {
  max-width: 1500px;
  margin: auto;
}
.inner-photo {
  padding: 3px;
  position: relative;
}
.inner-photo img {
  vertical-align: middle;
}
.inner-photo .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 3px;
}
.inner-photo .overlay .inner-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  text-align: left;
}
.inner-photo .overlay .inner-overlay p {
  margin: 0 8px 8px 8px;
}
.inner-photo .overlay .inner-overlay md-input-group {
  width: 100%;
}
.inner-photo .overlay .inner-overlay md-input-group label {
  color: rgba(255,255,255,0.7);
}
.inner-photo .overlay .inner-overlay md-input-group input {
  width: 100%;
  color: #fff;
}
.photo {
  display: inline-block;
  width: 100%;
}
.photo img {
  max-width: 100%;
}
.loading {
  margin-bottom: 8px;
}
md-progress-circular {
  margin: 8px;
}
.file-over {
  border: 3px dotted #d7d7d7;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}
.file-over.nv-file-over {
  border-color: #0024aa;
}
md-dialog {
  max-width: 95%;
  max-height: 95%;
}
md-dialog img {
  max-width: 100%;
  vertical-align: middle;
/* okay see it in middle , but you can tune this */
}
.album .delete {
  float: right;
  margin-left: 4px;
}
.clear {
  clear: both;
}
@media (max-width: 600px) {
  .photo {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 960px) {
  .photo {
    width: 50%;
  }
}
@media (min-width: 960px) and (max-width: 1200px) {
  .photo {
    width: 33.3332%;
  }
}
@media (min-width: 1200px) {
  .photo {
    width: 25%;
  }
}
