<h1>Albums <span>({{albums.length}})</span></h1>
<md-content ng-if="!isLoading" class="album">

    <md-card ng-repeat="a in albums">
        <strong>{{a.name}}</strong> {{a.description}}
        <md-button class="md-raised md-warn delete" ng-click="remove(a._id)">Delete</md-button>
        <md-button class="md-raised delete" ng-click="view(a)">View</md-button>
        <div class="clear"></div>
        <photo-wall ng-if="a.$view" album="{{a._id}}"></photo-wall>
    </md-card>
    <form ng-submit="newAlbum()">
        <h3>New album</h3>
        <md-text-float ng-model="album.name" label="Name"></md-text-float>
        <md-text-float ng-model="album.description" label="Description"></md-text-float>
        <md-button type="submit">Save</md-button>
    </form>
</md-content>