<h1>Photos <span ng-if="photos.length">{{photos.length}}</span></h1>
<md-content class="photos">
    <md-content class="inner-photos">
        <div class="photo" ng-repeat="p in photos">
            <div class="inner-photo">
                <img ng-src="{{p.thumbnail}}">
                {{photo.description}}
            </div>
        </div>
    </md-content>
    <md-content
            nv-file-drop
            nv-file-over
            uploader="uploader"
            layout="column"
            layout-align="center center"
            class="file-over">
        <h3>New Photo</h3>
        <span>Drop here</span>

        <div class="loading">
            <md-progress-circular
                    ng-show="uploader.queue.length>0"
                    md-mode="determinate"
                    ng-value="uploader.progress">
            </md-progress-circular>
        </div>

    </md-content>

</md-content>